<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <footer>
        <p><a href="https://gitlab.com/PedDavid/spwebapp">Open Source</a></p>
        <p>Powered by Koa</p>
        <p>&copy 2017 Pedro David. All rights reserved</p>
    </footer>
  </body>
</html>
